* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #27ae60;
  --color-whte: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey1: #dbe1e8;
  --color-grey2: #b2becd;
  --color-grey3: #6c7983;
  --color-grey4: #454e56;
  --color-grey5: #2a2e35;
  --color-grey6: #12182b;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

body {
  background-color: white;
}

header {
  height: 100vh;
  color: var(--color-whte);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.section-header {
  display: none;
  transform: translateY(0) scale(1);
}

.home {
  display: none;
  transform: translateY(0) scale(1);
  background-color: white;
}

.about {
  display: none;
  transform: translateY(0) scale(1);
  background-color: rgb(255, 255, 255);
}

.portfolio {
  display: none;
  transform: translateY(0) scale(1);
  background-color: red;
}

.blogs {
  display: none;
  transform: translateY(0) scale(1);
  background-color: blue;
}

.contact {
  display: none;
  transform: translateY(0) scale(1);
  background-color: greenyellow;
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  .active-btn {
    background-color: rgb(134, 218, 254) !important;
    transition: all 0.4s ease-in-out;
  }
  .control {
    color: white;
    padding: 1rem;
    cursor: pointer;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0.5rem 0;
    box-shadow: var(--box-shadow-1);
    i {
      font-size: 1.3rem;
      pointer-events: none;
    }
  }
}

.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;
  @keyframes scaleAnim {
    0% {
      transform: translateY(-100%) scaleY(0);
    }
    100% {
      transform: translateY(0) scaleY(1);
    }
  }
}

.header-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.headshot {
  height: 499px;
  width: 500px;
  flex: 1;
  border-radius: 50%;
  margin-bottom: 0;
}

.headshot-background {
  background-color: rgb(160, 227, 255);
  border-radius: 50%;
  height: 498px;
}

.name {
  flex: 1;
  color: black;
}

.left-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.right-header {
  align-items: center;
  justify-content: center;
  display: flex;
}

.intro-text {
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  width: 400px;
}
